@{
    ViewData["Title"] = "User List";
}
<h1>@ViewData["Title"]</h1>
<table id="user-table" class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Phone</th>
      <th scope="col">Age</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody id="user-table-body">
  </tbody>
</table>